# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Data (very important)
data/raw/
data/processed/

# Models
models/saved_models/
models/checkpoints/

# Results
results/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
